<a href="https://colab.research.google.com/github/KudryashovDmitry/PDA_SOL/blob/main/%D0%9F%D0%A0_1_%D0%B0%D0%BB%D1%8C%D1%82%D0%B5%D1%80%D0%BD%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B9_%D0%9A%D1%83%D0%B4%D1%80%D1%8F%D1%88%D0%BE%D0%B2_%D0%94_%D0%90%2C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# –°–∫–∞—á–∏–≤–∞–Ω–∏–µ –Ω–∞–±–æ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö Kaggle

–î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –ø–æ —Ä–∞–±–æ—Ç–µ —Å [Kaggle API](https://github.com/Kaggle/kaggle-api)

1. **–°–æ–∑–¥–∞–π—Ç–µ –∫–ª—é—á `API` –≤ `Kaggle`**.

–ú–æ—è —É—á–µ—Ç–Ω–∞—è –∑–∞–ø–∏—Å—å -> Settings-> API -> –°–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–µ —Ç–æ–∫–µ–Ω—ã API.

–ù–∞ –≤–∞—à –∫–æ–º–ø—å—é—Ç–µ—Ä –±—É–¥–µ—Ç –∑–∞–≥—Ä—É–∂–µ–Ω —Ñ–∞–π–ª `kaggle.json`. –í—ã –º–æ–∂–µ—Ç–µ –∑–∞–≥—Ä—É–∑–∏—Ç—å –Ω–∞ `Google` –î–∏—Å–∫ –≤—Ä—É—á–Ω—É—é –∏–ª–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ –ø—Ä–∏–≤–µ–¥–µ–Ω–Ω—ã–π –Ω–∏–∂–µ —Å–∫—Ä–∏–ø—Ç.

–ï—Å–ª–∏ –≤—ã —Ö–æ—Ç–∏—Ç–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å–∫—Ä–∏–ø—Ç –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ —Ñ–∞–π–ª–∞ `kaggle.json`, –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Å–ª–µ–¥—É—é—â–∏–π —Ñ—Ä–∞–≥–º–µ–Ω—Ç –≤ —è—á–µ–π–∫–µ –∫–æ–¥–∞:

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"dmitrykudryashov","key":"1fbf05ea93b0d9e22df442dd91e4abdc"}'}

–£—Å—Ç–∞–Ω–æ–≤–∏—Ç–µ `Kaggle API`, –∏—Å–ø–æ–ª—å–∑—É—è

In [ ]:
!pip install -q kaggle

–ü–µ—Ä–µ–º–µ—Å—Ç–∏—Ç–µ —Ñ–∞–π–ª `kaggle.json` –≤ **~/.kaggle**, –≥–¥–µ –∫–ª–∏–µ–Ω—Ç `API` –æ–∂–∏–¥–∞–µ—Ç —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∏—è –≤–∞—à–µ–≥–æ —Ç–æ–∫–µ–Ω–∞:

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

–ü—Ä–µ–¥–æ—Å—Ç–∞–≤—å—Ç–µ —Ä–∞–∑—Ä–µ—à–µ–Ω–∏—è –Ω–∞ –∏–∑–º–µ–Ω–µ–Ω–∏–µ, —á—Ç–æ–±—ã –∏–∑–±–µ–∂–∞—Ç—å –ø—Ä–µ–¥—É–ø—Ä–µ–∂–¥–µ–Ω–∏—è –ø—Ä–∏ –∑–∞–ø—É—Å–∫–µ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ `Kaggle`.

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json

–¢–µ–ø–µ—Ä—å –≤—ã –º–æ–∂–µ—Ç–µ –ø–æ–ª—É—á–∏—Ç—å –¥–æ—Å—Ç—É–ø –∫ –Ω–∞–±–æ—Ä–∞–º –¥–∞–Ω–Ω—ã—Ö —Å –ø–æ–º–æ—â—å—é –∫–ª–∏–µ–Ω—Ç–∞

In [ ]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.7 / client 1.5.16)
ref                                                                     title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
----------------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
sudarshan24byte/online-food-dataset                                     Online Food Dataset                                  3KB  2024-03-02 18:50:30          14745        298  0.9411765
sahirmaharajj/fuel-economy                                              Vehicle Fuel Economy                                 1MB  2024-03-20 18:27:18           1348         32  1.0
kanchana1990/world-air-quality-data-2024-updated                        World Air Quality Data 2024 (Updated)                2MB  2024-03-25 15:10:07           1433         39  1.0
syedanwarafridi/vehicle-sales-data                                      Vehicle Sales Data                                  19MB  2024-02-21 20:16:17          22361        369  1.0
bhavikjikadara/student-study-performance                                Student Study Performance                            9KB  2024-03-07 06:14:09           7609        112  1.0
lovishbansal123/sales-of-a-supermarket                                  Sales of a Supermarket                              36KB  2024-03-26 12:38:06           1457         29  1.0
sukhmandeepsinghbrar/biggest-companies-by-market-cap-and-their-revenue  Biggest Companies by Market Cap and Their Revenue    8KB  2024-03-27 10:18:06            531         25  1.0
sukhmandeepsinghbrar/total-worldwide-passenger-cars-sales               Total Worldwide Passenger Cars Sales                 8KB  2024-03-25 16:32:42            827         29  1.0
sukhmandeepsinghbrar/netflix-all-movie-ratings-by-imdb                  Netflix - All Movie Ratings by IMDb                 52KB  2024-03-26 10:06:30            597         25  1.0
jasmeet0516/largest-companies-in-world                                  Largest Companies in World                          47KB  2024-03-26 15:54:47            696         27  1.0
nbroad/gemma-rewrite-nbroad                                             gemma-rewrite-nbroad                                 8MB  2024-03-03 04:52:39           1116         83  1.0
bhavikjikadara/mental-health-dataset                                    Mental Health Dataset                                2MB  2024-03-18 06:05:16           2107         42  1.0
nagajyothidakka/covid-19-global-dataset                                 COVID-19 GLOBAL-Dataset                             10KB  2024-03-09 16:54:05           1335         37  0.9411765
julianoorlandi/spotify-top-songs-and-audio-features                     Spotify Top Songs and Audio Features               526KB  2024-03-18 12:49:50           2162         42  1.0
kanchana1990/bacteria-dataset                                           Bacteria Dataset                                     4KB  2024-03-27 09:19:48            379         22  1.0
arnavvvvv/spotify-music                                                 Top Spotify Songs                                   47KB  2024-03-06 05:20:29           7227         94  1.0
abhinavshaw09/road-accidents-data                                       Road Accidents Data                                823KB  2024-03-27 05:13:24            587         28  1.0
tarunrm09/climate-change-indicators                                     Climate change Indicators                           34KB  2024-02-22 08:53:54          10458        189  1.0
ronaldonyango/global-suicide-rates-1990-to-2022                         Suicide Rates & Socioeconomic Factors (1990 - 22)    2MB  2024-03-14 14:30:20           2707         37  1.0
mexwell/student-scores                                                  üéì Student Scores                                    62KB  2024-03-05 10:08:50           1727         32  1.0

In [ ]:
import kaggle

# List of all datasets available on Kaggle
kaggle.api.dataset_list()

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.7 / client 1.5.16)

[sudarshan24byte/online-food-dataset,
 sahirmaharajj/fuel-economy,
 kanchana1990/world-air-quality-data-2024-updated,
 syedanwarafridi/vehicle-sales-data,
 bhavikjikadara/student-study-performance,
 lovishbansal123/sales-of-a-supermarket,
 sukhmandeepsinghbrar/biggest-companies-by-market-cap-and-their-revenue,
 sukhmandeepsinghbrar/total-worldwide-passenger-cars-sales,
 sukhmandeepsinghbrar/netflix-all-movie-ratings-by-imdb,
 jasmeet0516/largest-companies-in-world,
 nbroad/gemma-rewrite-nbroad,
 bhavikjikadara/mental-health-dataset,
 nagajyothidakka/covid-19-global-dataset,
 julianoorlandi/spotify-top-songs-and-audio-features,
 kanchana1990/bacteria-dataset,
 arnavvvvv/spotify-music,
 abhinavshaw09/road-accidents-data,
 tarunrm09/climate-change-indicators,
 ronaldonyango/global-suicide-rates-1990-to-2022,
 mexwell/student-scores]

In [ ]:
# –ø–æ–∏—Å–∫ –Ω–∞–±–æ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ Kaggle –æ ""–∫–ª—é—á–µ–≤–æ–µ —Å–ª–æ–≤–æ"""
datasets = kaggle.api.datasets_list(search="PARENTS")

print(datasets)

[{'subtitleNullable': 'Marks secured by the students in various subjects', 'creatorNameNullable': 'Jakki Seshapanpu', 'creatorUrlNullable': 'spscientist', 'totalBytesNullable': 8907, 'urlNullable': 'https://www.kaggle.com/datasets/spscientist/students-performance-in-exams', 'licenseNameNullable': 'Unknown', 'descriptionNullable': None, 'ownerNameNullable': 'Jakki Seshapanpu', 'ownerRefNullable': 'spscientist', 'titleNullable': 'Students Performance in Exams', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 0.7058824, 'id': 74977, 'ref': 'spscientist/students-performance-in-exams', 'subtitle': 'Marks secured by the students in various subjects', 'hasSubtitle': True, 'creatorName': 'Jakki Seshapanpu', 'hasCreatorName': True, 'creatorUrl': 'spscientist', 'hasCreatorUrl': True, 'totalBytes': 8907, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/spscientist/students-performance-in-exams', 'hasUrl': True, 'lastUpdated': '2018-11-09T18:25:25.037Z', 'downloadCount': 273527, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Unknown', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Jakki Seshapanpu', 'hasOwnerName': True, 'ownerRef': 'spscientist', 'hasOwnerRef': True, 'kernelCount': 1250, 'title': 'Students Performance in Exams', 'hasTitle': True, 'topicCount': 0, 'viewCount': 1604298, 'voteCount': 4180, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.7058824, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'education', 'descriptionNullable': 'Education datasets and kernels relate to statistics on student performance, university rankings, and answers for all your homework questions.', 'fullPathNullable': 'subject > people and society > education', 'ref': 'education', 'name': 'education', 'hasName': True, 'description': 'Education datasets and kernels relate to statistics on student performance, university rankings, and answers for all your homework questions.', 'hasDescription': True, 'fullPath': 'subject > people and society > education', 'hasFullPath': True, 'competitionCount': 16, 'datasetCount': 21284, 'scriptCount': 14750, 'totalCount': 36050}, {'nameNullable': 'exploratory data analysis', 'descriptionNullable': None, 'fullPathNullable': 'technique > exploratory data analysis', 'ref': 'exploratory data analysis', 'name': 'exploratory data analysis', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'technique > exploratory data analysis', 'hasFullPath': True, 'competitionCount': 3, 'datasetCount': 3821, 'scriptCount': 29703, 'totalCount': 33527}, {'nameNullable': 'data visualization', 'descriptionNullable': 'The art of depicting data in a visual format. Using charts and graphs, it is easier to observe patterns, relationships, and outliers.', 'fullPathNullable': 'technique > data visualization', 'ref': 'data visualization', 'name': 'data visualization', 'hasName': True, 'description': 'The art of depicting data in a visual format. Using charts and graphs, it is easier to observe patterns, relationships, and outliers.', 'hasDescription': True, 'fullPath': 'technique > data visualization', 'hasFullPath': True, 'competitionCount': 7, 'datasetCount': 5428, 'scriptCount': 33041, 'totalCount': 38476}, {'nameNullable': 'standardized testing', 'descriptionNullable': None, 'fullPathNullable': 'subject > people and society > education > standardized testing', 'ref': 'standardized testing', 'name': 'standardized testing', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > people and society > education > standardized testing', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 7388, 'scriptCount': 413, 'totalCount': 7801}], 'files': [], 'versions': []}, {'subtitleNullable': "College students' food and cooking preferences", 'creatorNameNullable': 'BoraPajo', 'creatorUrlNullable': 'borapajo', 'totalBytesNullable': 5505217, 'urlNullable': 'https://www.kaggle.com/datasets/borapajo/food-choices', 'licenseNameNullable': 'CC0: Public Domain', 'descriptionNullable': None, 'ownerNameNullable': 'BoraPajo', 'ownerRefNullable': 'borapajo', 'titleNullable': 'Food choices', 'currentVersionNumberNullable': 5, 'usabilityRatingNullable': 0.85294116, 'id': 1133, 'ref': 'borapajo/food-choices', 'subtitle': "College students' food and cooking preferences", 'hasSubtitle': True, 'creatorName': 'BoraPajo', 'hasCreatorName': True, 'creatorUrl': 'borapajo', 'hasCreatorUrl': True, 'totalBytes': 5505217, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/borapajo/food-choices', 'hasUrl': True, 'lastUpdated': '2017-04-23T14:04:43.72Z', 'downloadCount': 48199, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'CC0: Public Domain', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'BoraPajo', 'hasOwnerName': True, 'ownerRef': 'borapajo', 'hasOwnerRef': True, 'kernelCount': 110, 'title': 'Food choices', 'hasTitle': True, 'topicCount': 0, 'viewCount': 275243, 'voteCount': 496, 'currentVersionNumber': 5, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.85294116, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'universities and colleges', 'descriptionNullable': 'This tag contains all kinds of information about which colleges are good and how much money people make after attending classes there.', 'fullPathNullable': 'subject > people and society > education > universities and colleges', 'ref': 'universities and colleges', 'name': 'universities and colleges', 'hasName': True, 'description': 'This tag contains all kinds of information about which colleges are good and how much money people make after attending classes there.', 'hasDescription': True, 'fullPath': 'subject > people and society > education > universities and colleges', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 7479, 'scriptCount': 447, 'totalCount': 7926}, {'nameNullable': 'nutrition', 'descriptionNullable': "Nutrition is the science that interprets the interaction of nutrients and other substances in food in relation to maintenance, growth, reproduction, health and disease of an organism. In this tag you'll find the most nutrtitious datasets and kernels.", 'fullPathNullable': 'subject > health and fitness > health > nutrition', 'ref': 'nutrition', 'name': 'nutrition', 'hasName': True, 'description': "Nutrition is the science that interprets the interaction of nutrients and other substances in food in relation to maintenance, growth, reproduction, health and disease of an organism. In this tag you'll find the most nutrtitious datasets and kernels.", 'hasDescription': True, 'fullPath': 'subject > health and fitness > health > nutrition', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 1182, 'scriptCount': 171, 'totalCount': 1353}, {'nameNullable': 'health', 'descriptionNullable': 'Consider the health tag your data science gym. Get in there and work out those data science muscles on health analytics. Analyze heart disease until you sweat. Then recover with with a nice candy production dataset.', 'fullPathNullable': 'subject > health and fitness > health', 'ref': 'health', 'name': 'health', 'hasName': True, 'description': 'Consider the health tag your data science gym. Get in there and work out those data science muscles on health analytics. Analyze heart disease until you sweat. Then recover with with a nice candy production dataset.', 'hasDescription': True, 'fullPath': 'subject > health and fitness > health', 'hasFullPath': True, 'competitionCount': 64, 'datasetCount': 12905, 'scriptCount': 7763, 'totalCount': 20732}, {'nameNullable': 'cooking and recipes', 'descriptionNullable': None, 'fullPathNullable': 'subject > health and fitness > food > cooking and recipes', 'ref': 'cooking and recipes', 'name': 'cooking and recipes', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > health and fitness > food > cooking and recipes', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 1301, 'scriptCount': 189, 'totalCount': 1490}], 'files': [], 'versions': []}, {'subtitleNullable': 'Historical data on avocado prices and sales volume in multiple US markets', 'creatorNameNullable': 'Justin Kiggins', 'creatorUrlNullable': 'neuromusic', 'totalBytesNullable': 643781, 'urlNullable': 'https://www.kaggle.com/datasets/neuromusic/avocado-prices', 'licenseNameNullable': 'Database: Open Database, Contents: ¬© Original Authors', 'descriptionNullable': None, 'ownerNameNullable': 'Justin Kiggins', 'ownerRefNullable': 'neuromusic', 'titleNullable': 'Avocado Prices', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 0.9705882, 'id': 30292, 'ref': 'neuromusic/avocado-prices', 'subtitle': 'Historical data on avocado prices and sales volume in multiple US markets', 'hasSubtitle': True, 'creatorName': 'Justin Kiggins', 'hasCreatorName': True, 'creatorUrl': 'neuromusic', 'hasCreatorUrl': True, 'totalBytes': 643781, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/neuromusic/avocado-prices', 'hasUrl': True, 'lastUpdated': '2018-06-06T05:28:35.433Z', 'downloadCount': 290122, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Database: Open Database, Contents: ¬© Original Authors', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Justin Kiggins', 'hasOwnerName': True, 'ownerRef': 'neuromusic', 'hasOwnerRef': True, 'kernelCount': 448, 'title': 'Avocado Prices', 'hasTitle': True, 'topicCount': 0, 'viewCount': 1385267, 'voteCount': 3655, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.9705882, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'food', 'descriptionNullable': None, 'fullPathNullable': 'subject > health and fitness > food', 'ref': 'food', 'name': 'food', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > health and fitness > food', 'hasFullPath': True, 'competitionCount': 6, 'datasetCount': 8018, 'scriptCount': 591, 'totalCount': 8615}], 'files': [], 'versions': []}, {'subtitleNullable': 'Marks secured by the students in various subjects', 'creatorNameNullable': 'Bhavik Jikadara', 'creatorUrlNullable': 'bhavikjikadara', 'totalBytesNullable': 8907, 'urlNullable': 'https://www.kaggle.com/datasets/bhavikjikadara/student-study-performance', 'licenseNameNullable': 'Attribution 4.0 International (CC BY 4.0)', 'descriptionNullable': None, 'ownerNameNullable': 'Bhavik Jikadara', 'ownerRefNullable': 'bhavikjikadara', 'titleNullable': 'Student Study Performance', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 1.0, 'id': 4553641, 'ref': 'bhavikjikadara/student-study-performance', 'subtitle': 'Marks secured by the students in various subjects', 'hasSubtitle': True, 'creatorName': 'Bhavik Jikadara', 'hasCreatorName': True, 'creatorUrl': 'bhavikjikadara', 'hasCreatorUrl': True, 'totalBytes': 8907, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/bhavikjikadara/student-study-performance', 'hasUrl': True, 'lastUpdated': '2024-03-07T06:14:09.377Z', 'downloadCount': 7609, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Attribution 4.0 International (CC BY 4.0)', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Bhavik Jikadara', 'hasOwnerName': True, 'ownerRef': 'bhavikjikadara', 'hasOwnerRef': True, 'kernelCount': 21, 'title': 'Student Study Performance', 'hasTitle': True, 'topicCount': 0, 'viewCount': 32509, 'voteCount': 112, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 1.0, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'education', 'descriptionNullable': 'Education datasets and kernels relate to statistics on student performance, university rankings, and answers for all your homework questions.', 'fullPathNullable': 'subject > people and society > education', 'ref': 'education', 'name': 'education', 'hasName': True, 'description': 'Education datasets and kernels relate to statistics on student performance, university rankings, and answers for all your homework questions.', 'hasDescription': True, 'fullPath': 'subject > people and society > education', 'hasFullPath': True, 'competitionCount': 16, 'datasetCount': 21284, 'scriptCount': 14750, 'totalCount': 36050}, {'nameNullable': 'exploratory data analysis', 'descriptionNullable': None, 'fullPathNullable': 'technique > exploratory data analysis', 'ref': 'exploratory data analysis', 'name': 'exploratory data analysis', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'technique > exploratory data analysis', 'hasFullPath': True, 'competitionCount': 3, 'datasetCount': 3821, 'scriptCount': 29703, 'totalCount': 33527}, {'nameNullable': 'data visualization', 'descriptionNullable': 'The art of depicting data in a visual format. Using charts and graphs, it is easier to observe patterns, relationships, and outliers.', 'fullPathNullable': 'technique > data visualization', 'ref': 'data visualization', 'name': 'data visualization', 'hasName': True, 'description': 'The art of depicting data in a visual format. Using charts and graphs, it is easier to observe patterns, relationships, and outliers.', 'hasDescription': True, 'fullPath': 'technique > data visualization', 'hasFullPath': True, 'competitionCount': 7, 'datasetCount': 5428, 'scriptCount': 33041, 'totalCount': 38476}, {'nameNullable': 'tabular', 'descriptionNullable': None, 'fullPathNullable': 'data type > tabular', 'ref': 'tabular', 'name': 'tabular', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'data type > tabular', 'hasFullPath': True, 'competitionCount': 11344, 'datasetCount': 9091, 'scriptCount': 6174, 'totalCount': 26609}, {'nameNullable': 'standardized testing', 'descriptionNullable': None, 'fullPathNullable': 'subject > people and society > education > standardized testing', 'ref': 'standardized testing', 'name': 'standardized testing', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > people and society > education > standardized testing', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 7388, 'scriptCount': 413, 'totalCount': 7801}], 'files': [], 'versions': []}, {'subtitleNullable': 'Salaries by college, region, and academic major', 'creatorNameNullable': 'Meg Risdal', 'creatorUrlNullable': 'mrisdal', 'totalBytesNullable': 16830, 'urlNullable': 'https://www.kaggle.com/datasets/wsj/college-salaries', 'licenseNameNullable': 'Other (specified in description)', 'descriptionNullable': None, 'ownerNameNullable': 'The Wall Street Journal', 'ownerRefNullable': 'organizations/wsj', 'titleNullable': 'Where it Pays to Attend College', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 0.8235294, 'id': 1189, 'ref': 'wsj/college-salaries', 'subtitle': 'Salaries by college, region, and academic major', 'hasSubtitle': True, 'creatorName': 'Meg Risdal', 'hasCreatorName': True, 'creatorUrl': 'mrisdal', 'hasCreatorUrl': True, 'totalBytes': 16830, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/wsj/college-salaries', 'hasUrl': True, 'lastUpdated': '2017-04-29T15:48:55.5Z', 'downloadCount': 39310, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Other (specified in description)', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'The Wall Street Journal', 'hasOwnerName': True, 'ownerRef': 'organizations/wsj', 'hasOwnerRef': True, 'kernelCount': 67, 'title': 'Where it Pays to Attend College', 'hasTitle': True, 'topicCount': 0, 'viewCount': 271472, 'voteCount': 846, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.8235294, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'universities and colleges', 'descriptionNullable': 'This tag contains all kinds of information about which colleges are good and how much money people make after attending classes there.', 'fullPathNullable': 'subject > people and society > education > universities and colleges', 'ref': 'universities and colleges', 'name': 'universities and colleges', 'hasName': True, 'description': 'This tag contains all kinds of information about which colleges are good and how much money people make after attending classes there.', 'hasDescription': True, 'fullPath': 'subject > people and society > education > universities and colleges', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 7479, 'scriptCount': 447, 'totalCount': 7926}, {'nameNullable': 'employment', 'descriptionNullable': 'Where does it pay to attend college? What impacts employee satisfaction and what makes them quit their jobs? Explore these questions and others in kernels and datasets with this tag.', 'fullPathNullable': 'subject > people and society > jobs and career > employment', 'ref': 'employment', 'name': 'employment', 'hasName': True, 'description': 'Where does it pay to attend college? What impacts employee satisfaction and what makes them quit their jobs? Explore these questions and others in kernels and datasets with this tag.', 'hasDescription': True, 'fullPath': 'subject > people and society > jobs and career > employment', 'hasFullPath': True, 'competitionCount': 1, 'datasetCount': 529, 'scriptCount': 196, 'totalCount': 726}, {'nameNullable': 'business', 'descriptionNullable': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'fullPathNullable': 'subject > people and society > business', 'ref': 'business', 'name': 'business', 'hasName': True, 'description': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'hasDescription': True, 'fullPath': 'subject > people and society > business', 'hasFullPath': True, 'competitionCount': 25, 'datasetCount': 65156, 'scriptCount': 25267, 'totalCount': 90448}, {'nameNullable': 'education', 'descriptionNullable': 'Education datasets and kernels relate to statistics on student performance, university rankings, and answers for all your homework questions.', 'fullPathNullable': 'subject > people and society > education', 'ref': 'education', 'name': 'education', 'hasName': True, 'description': 'Education datasets and kernels relate to statistics on student performance, university rankings, and answers for all your homework questions.', 'hasDescription': True, 'fullPath': 'subject > people and society > education', 'hasFullPath': True, 'competitionCount': 16, 'datasetCount': 21284, 'scriptCount': 14750, 'totalCount': 36050}, {'nameNullable': 'jobs and career', 'descriptionNullable': None, 'fullPathNullable': 'subject > people and society > jobs and career', 'ref': 'jobs and career', 'name': 'jobs and career', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > people and society > jobs and career', 'hasFullPath': True, 'competitionCount': 1, 'datasetCount': 1392, 'scriptCount': 4755, 'totalCount': 6148}], 'files': [], 'versions': []}, {'subtitleNullable': 'xAPI-Educational Mining Dataset', 'creatorNameNullable': 'Ibrahim Aljarah', 'creatorUrlNullable': 'aljarah', 'totalBytesNullable': 5675, 'urlNullable': 'https://www.kaggle.com/datasets/aljarah/xAPI-Edu-Data', 'licenseNameNullable': 'CC BY-SA 4.0', 'descriptionNullable': None, 'ownerNameNullable': 'Ibrahim Aljarah', 'ownerRefNullable': 'aljarah', 'titleNullable': "Students' Academic Performance Dataset", 'currentVersionNumberNullable': 6, 'usabilityRatingNullable': 0.7352941, 'id': 436, 'ref': 'aljarah/xAPI-Edu-Data', 'subtitle': 'xAPI-Educational Mining Dataset', 'hasSubtitle': True, 'creatorName': 'Ibrahim Aljarah', 'hasCreatorName': True, 'creatorUrl': 'aljarah', 'hasCreatorUrl': True, 'totalBytes': 5675, 'hasTotalBytes': True, 'url': 'https://www

In [ ]:
!kaggle datasets list -s "PARENTS"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.7 / client 1.5.16)
ref                                                    title                                          size  lastUpdated          downloadCount  voteCount  usabilityRating
-----------------------------------------------------  --------------------------------------------  -----  -------------------  -------------  ---------  ---------------
spscientist/students-performance-in-exams              Students Performance in Exams                   9KB  2018-11-09 18:25:25         273528       4180  0.7058824
borapajo/food-choices                                  Food choices                                    5MB  2017-04-23 14:04:43          48199        496  0.85294116
neuromusic/avocado-prices                              Avocado Prices                                629KB  2018-06-06 05:28:35         290122       3655  0.9705882
bhavikjikadara/student-study-performance               Student Study Performance                       9KB  2024-03-07 06:14:09           7609        112  1.0
wsj/college-salaries                                   Where it Pays to Attend College                16KB  2017-04-29 15:48:55          39310        846  0.8235294
aljarah/xAPI-Edu-Data                                  Students' Academic Performance Dataset          6KB  2016-11-26 21:58:24          70477        780  0.7352941
shubhamgupta012/titanic-dataset                        Titanic Dataset                                 7KB  2023-06-18 07:52:20           2585         42  1.0
mazenramadan/imdb-most-popular-films-and-series        Imdb Most popular Films and series            167KB  2021-10-27 14:23:09           3696         60  0.8235294
new-york-city/nyc-property-sales                       NYC Property Sales                              2MB  2017-09-22 19:43:30          33818        434  0.8235294
rmisra/news-category-dataset                           News Category Dataset                          27MB  2022-09-24 08:07:21          62532        729  1.0
ibrahimelsayed182/titanic-dataset                      Titanic dataset                                 6KB  2022-01-27 07:41:54           3857         30  1.0
nimapourmoradi/nursery                                 Nursery                                        41KB  2024-02-19 21:25:38            504         65  1.0
leomartinelli/bullying-in-schools                      Bullying in schools                           600KB  2023-03-01 02:37:50           4802         77  0.88235295
mahmoudshogaa/titanic-dataset                          titanic_dataset                                22KB  2023-11-24 14:19:44           1616         54  1.0
shroukgomaa/babies-food-ingredients                    Babies Food Ingredients                        21KB  2023-07-15 16:04:13            732         30  1.0
dariushatesteemo/factor-student-performance-affecting  Factors about students performance affecting   13KB  2019-12-17 01:46:24           2061         29  0.8235294
mpwolke/cusersmarildownloadsattendancecsv              Attendance in early Childhood Education         1KB  2021-08-05 13:02:26            578         35  1.0
new-york-city/ny-bus-breakdown-and-delays              NY Bus Breakdown and Delays                    13MB  2019-12-01 04:41:10           3169         55  0.7058824
mattop/new-york-city-bus-breakdown-and-delays          New York City Bus Breakdown and Delays         18MB  2022-12-26 17:17:56            800         38  1.0
sohommajumder21/appliances-energy-prediction-data-set  Appliances energy prediction Data Set           1MB  2021-06-12 02:45:24           1513         27  1.0

In [ ]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
datasets = kaggle.api.datasets_list(search="PARENTS")
df1=pd.DataFrame(datasets)
pd.DataFrame(datasets)

,subtitleNullable,creatorNameNullable,creatorUrlNullable,totalBytesNullable,urlNullable,licenseNameNullable,descriptionNullable,ownerNameNullable,ownerRefNullable,titleNullable,...,topicCount,viewCount,voteCount,currentVersionNumber,hasCurrentVersionNumber,usabilityRating,hasUsabilityRating,tags,files,versions
0,Marks secured by the students in various subjects,Jakki Seshapanpu,spscientist,8907,https://www.kaggle.com/datasets/spscientist/st...,Unknown,None,Jakki Seshapanpu,spscientist,Students Performance in Exams,...,0,1604304,4180,1,True,0.705882,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]
1,College students' food and cooking preferences,BoraPajo,borapajo,5505217,https://www.kaggle.com/datasets/borapajo/food-...,CC0: Public Domain,None,BoraPajo,borapajo,Food choices,...,0,275243,496,5,True,0.852941,True,"[{'nameNullable': 'universities and colleges',...",[],[]
2,Historical data on avocado prices and sales vo...,Justin Kiggins,neuromusic,643781,https://www.kaggle.com/datasets/neuromusic/avo...,"Database: Open Database, Contents: ¬© Original ...",None,Justin Kiggins,neuromusic,Avocado Prices,...,0,1385268,3655,1,True,0.970588,True,"[{'nameNullable': 'food', 'descriptionNullable...",[],[]
3,Marks secured by the students in various subjects,Bhavik Jikadara,bhavikjikadara,8907,https://www.kaggle.com/datasets/bhavikjikadara...,Attribution 4.0 International (CC BY 4.0),None,Bhavik Jikadara,bhavikjikadara,Student Study Performance,...,0,32516,112,1,True,1.000000,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]
4,"Salaries by college, region, and academic major",Meg Risdal,mrisdal,16830,https://www.kaggle.com/datasets/wsj/college-sa...,Other (specified in description),None,The Wall Street Journal,organizations/wsj,Where it Pays to Attend College,...,0,271472,846,1,True,0.823529,True,"[{'nameNullable': 'universities and colleges',...",[],[]
5,xAPI-Educational Mining Dataset,Ibrahim Aljarah,aljarah,5675,https://www.kaggle.com/datasets/aljarah/xAPI-E...,CC BY-SA 4.0,None,Ibrahim Aljarah,aljarah,Students' Academic Performance Dataset,...,0,573443,780,6,True,0.735294,True,"[{'nameNullable': 'earth and nature', 'descrip...",[],[]
6,Titanic Passenger Data - Exploring Survival Pa...,Shubham_Gupta012,shubhamgupta012,6833,https://www.kaggle.com/datasets/shubhamgupta01...,Other (specified in description),None,Shubham_Gupta012,shubhamgupta012,Titanic Dataset,...,0,11954,42,1,True,1.000000,True,"[{'nameNullable': 'classification', 'descripti...",[],[]
7,Details about Most popular Films and series an...,Mazen Ramadan,mazenramadan,171443,https://www.kaggle.com/datasets/mazenramadan/i...,CC0: Public Domain,None,Mazen Ramadan,mazenramadan,Imdb Most popular Films and series,...,0,24191,60,3,True,0.823529,True,"[{'nameNullable': 'arts and entertainment', 'd...",[],[]
8,A year's worth of properties sold on the NYC r...,Aleksey Bilogur,residentmario,1898090,https://www.kaggle.com/datasets/new-york-city/...,CC0: Public Domain,None,City of New York,organizations/new-york-city,NYC Property Sales,...,0,266728,434,1,True,0.823529,True,"[{'nameNullable': 'cities and urban areas', 'd...",[],[]
9,Identify the type of news based on headlines a...,Rishabh Misra,rmisra,27829769,https://www.kaggle.com/datasets/rmisra/news-ca...,Attribution 4.0 International (CC BY 4.0),None,Rishabh Misra,rmisra,News Category Dataset,...,0,420565,729,3,True,1.000000,True,"[{'nameNullable': 'linguistics', 'descriptionN...",[],[]
10,Thisi Titanic dataset,Ibrahim Elsayed,ibrahimelsayed182,5731,https://www.kaggle.com/datasets/ibrahimelsayed...,Other (specified in description),None,Ibrahim Elsayed,ibrahimelsayed182,Titanic dataset,...,0,18052,30,5,True,1.000000,True,"[{'nameNullable': 'exploratory data analysis',...",[],[]
11,Nursery Database was derived from a hierarchic...,Nima Pourmoradi,nimapourmoradi,41553,https://www.kaggle.com/datasets/nimapourmoradi...,Other (specified in description),None,Nima Pourmoradi,nimapourmoradi,Nursery,...,0,3085,65,1,True,1.000000,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]
12,This is a survey of adolescents about factors ...,Leonardo Martinelli,leomartinelli,614114,https://www.kaggle.com/datasets/leomartinelli/...,CC0: Public Domain,None,Leonardo Martinelli,leomartinelli,Bullying in schools,...,0,26204,77,1,True,0.882353,True,"[{'nameNullable': 'categorical', 'descriptionN...",[],[]
13,titanic dataset data,mahmoud shogaa,mahmoudshogaa,22491,https://www.kaggle.com/datasets/mahmoudshogaa/...,Apache 2.0,None,mahmoud shogaa,mahmoudshogaa,titanic_dataset,...,0,7399,54,1,True,1.000000,True,"[{'nameNullable': 'business', 'descriptionNull...",[],[]
14,Examining the Diversity of Baby Food Ingredien...,shrouk gomaa,shroukgomaa,21888,https://www.kaggle.com/datasets/shroukgomaa/ba...,Other (specified in description),None,shrouk gomaa,shroukgomaa,Babies Food Ingredients,...,0,3862,30,1,True,1.000000,True,"[{'nameNullable': 'exploratory data analysis',...",[],[]
15,00 randomly selected students in the college f...,Jax,dariushatesteemo,12982,https://www.kaggle.com/datasets/dariushatestee...,Other (specified in description),None,Jax,dariushatesteemo,Factors about students performance affecting,...,0,12936,29,1,True,0.823529,True,"[{'nameNullable': 'universities and colleges',...",[],[]
16,Attendance in early Childhood Education OECD,Mar√≠lia Prata,mpwolke,1384,https://www.kaggle.com/datasets/mpwolke/cusers...,Other (specified in description),None,Mar√≠lia Prata,mpwolke,Attendance in early Childhood Education,...,0,4963,35,1,True,1.000000,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]
17,From New York City Open Data,Kaggle Team,kaggleteam,13461653,https://www.kaggle.com/datasets/new-york-city/...,CC0: Public Domain,None,City of New York,organizations/new-york-city,NY Bus Breakdown and Delays,...,0,41308,55,13,True,0.705882,True,"[{'nameNullable': 'earth and nature', 'descrip...",[],[]
18,New York City Bus Breakdown and Delays (2015 -...,Matt OP,mattop,19339550,https://www.kaggle.com/datasets/mattop/new-yor...,CC0: Public Domain,None,Matt OP,mattop,New York City Bus Breakdown and Delays,...,0,5236,38,1,True,1.000000,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]
19,https://archive.ics.uci.edu/ml/datasets/Applia...,Sohom Majumder,sohommajumder21,1156634,https://www.kaggle.com/datasets/sohommajumder2...,"Database: Open Database, Contents: ¬© Original ...",None,Sohom Majumder,sohommajumder21,Appliances energy prediction Data Set,...,0,16519,27,1,True,1.000000,True,"[{'nameNullable': 'energy', 'descriptionNullab...",[],[]

In [ ]:
df1.to_excel("PARENTS.xlsx", sheet_name='PARENTS')

In [ ]:
from google.colab import files
files.download('PARENTS.xlsx')

# –ò–∑—É—á–∏–º –¥–∞—Ç–∞—Å–µ—Ç **The Times Higher Education World University Rankings**

Download Dataset.

In [ ]:
!kaggle datasets download -d wsj/college-salaries

college-salaries.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
import zipfile

with zipfile.ZipFile("college-salaries.zip","r") as zip_ref:

    # extracting content in the zipfile
    zip_ref.extractall()

In [ ]:
!ls

 avocado.csv				   'OPT Open Data Descriptions v0.2.docx'
 avocado-prices.zip			    PARENTS.xlsx
 bus-breakdown-and-delays.csv		    salaries-by-college-type.csv
 college-salaries.zip			    salaries-by-region.csv
 Data.xlsx				    sample_data
 degrees-that-pay-back.csv		    socrata_metadata.json
 education.xlsx				   'students-performance-in-exams .xlsx'
 factor-student-performance-affecting.zip   Titanic.csv
'From New York City Open Data.xlsx'	    titanic-dataset.zip
 kaggle.json				    wages_by_education.csv
 ny-bus-breakdown-and-delays.zip	    wages-by-education-in-the-usa-1973-2022.zip

In [ ]:
# reading the contents of the "name.csv"
df = pd.read_csv("Titanic.csv")

# printing first 6 raws of the dataframe
df.head(100)

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,male,22.0,1,0,7.2500,S,Third,man,False,0
1,female,38.0,1,0,71.2833,C,First,woman,False,1
2,female,26.0,0,0,7.9250,S,Third,woman,True,1
3,female,35.0,1,0,53.1000,S,First,woman,False,1
4,male,35.0,0,0,8.0500,S,Third,man,True,0
...,...,...,...,...,...,...,...,...,...,...
95,male,NaN,0,0,8.0500,S,Third,man,True,0
96,male,71.0,0,0,34.6542,C,First,man,True,0
97,male,23.0,0,1,63.3583,C,First,man,False,1
98,female,34.0,0,1,23.0000,S,Second,woman,False,1
99,male,34.0,1,0,26.0000,S,Second,man,False,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       891 non-null    object
 1   age       714 non-null    float64
 2   sibsp     891 non-null    int64
 3   parch     891 non-null    int64
 4   fare      891 non-null    float64
 5   embarked  889 non-null    object
 6   class     891 non-null    object
 7   who       891 non-null    object
 8   alone     891 non-null    bool
 9   survived  891 non-null    int64
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 63.6+ KB

In [ ]:
my_df = df[['sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'alone', 'survived']].copy()

In [ ]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       891 non-null    object
 1   age       714 non-null    float64
 2   sibsp     891 non-null    int64
 3   parch     891 non-null    int64
 4   fare      891 non-null    float64
 5   embarked  889 non-null    object
 6   class     891 non-null    object
 7   who       891 non-null    object
 8   alone     891 non-null    bool
 9   survived  891 non-null    int64
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 63.6+ KB

In [ ]:
my_df

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,male,22.0,1,0,7.2500,S,Third,man,False,0
1,female,38.0,1,0,71.2833,C,First,woman,False,1
2,female,26.0,0,0,7.9250,S,Third,woman,True,1
3,female,35.0,1,0,53.1000,S,First,woman,False,1
4,male,35.0,0,0,8.0500,S,Third,man,True,0
...,...,...,...,...,...,...,...,...,...,...
886,male,27.0,0,0,13.0000,S,Second,man,True,0
887,female,19.0,0,0,30.0000,S,First,woman,True,1
888,female,NaN,1,2,23.4500,S,Third,woman,False,0
889,male,26.0,0,0,30.0000,C,First,man,True,1
890,male,32.0,0,0,7.7500,Q,Third,man,True,0

In [ ]:
my_df.isnull().values.any()

True

In [ ]:
my_df.isnull().sum()

sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
class         0
who           0
alone         0
survived      0
dtype: int64

In [ ]:
df.isnull().sum().sum()

179

In [ ]:
my_df.isna().sum()/(len(df))*100

sex          0.000000
age         19.865320
sibsp        0.000000
parch        0.000000
fare         0.000000
embarked     0.224467
class        0.000000
who          0.000000
alone        0.000000
survived     0.000000
dtype: float64

In [ ]:
my_df.isnull().sum()/(len(df))*100

sex          0.000000
age         19.865320
sibsp        0.000000
parch        0.000000
fare         0.000000
embarked     0.224467
class        0.000000
who          0.000000
alone        0.000000
survived     0.000000
dtype: float64

In [ ]:
df2 = my_df.dropna()

In [ ]:
df2

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,male,22.0,1,0,7.2500,S,Third,man,False,0
1,female,38.0,1,0,71.2833,C,First,woman,False,1
2,female,26.0,0,0,7.9250,S,Third,woman,True,1
3,female,35.0,1,0,53.1000,S,First,woman,False,1
4,male,35.0,0,0,8.0500,S,Third,man,True,0
...,...,...,...,...,...,...,...,...,...,...
885,female,39.0,0,5,29.1250,Q,Third,woman,False,0
886,male,27.0,0,0,13.0000,S,Second,man,True,0
887,female,19.0,0,0,30.0000,S,First,woman,True,1
889,male,26.0,0,0,30.0000,C,First,man,True,1
890,male,32.0,0,0,7.7500,Q,Third,man,True,0

In [ ]:
df2.isnull().values.any()

False

    –¢–æ–ª—å–∫–æ —Ä—Ñ

In [ ]:
rslt_df = df[df['sex'] == 'male']

In [ ]:
rslt_df

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,male,22.0,1,0,7.2500,S,Third,man,False,0
4,male,35.0,0,0,8.0500,S,Third,man,True,0
5,male,NaN,0,0,8.4583,Q,Third,man,True,0
6,male,54.0,0,0,51.8625,S,First,man,True,0
7,male,2.0,3,1,21.0750,S,Third,child,False,0
...,...,...,...,...,...,...,...,...,...,...
883,male,28.0,0,0,10.5000,S,Second,man,True,0
884,male,25.0,0,0,7.0500,S,Third,man,True,0
886,male,27.0,0,0,13.0000,S,Second,man,True,0
889,male,26.0,0,0,30.0000,C,First,man,True,1
890,male,32.0,0,0,7.7500,Q,Third,man,True,0

In [ ]:
rslt_df.reset_index(drop=True, inplace=True)

In [ ]:
rslt_df

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,male,22.0,1,0,7.2500,S,Third,man,False,0
1,male,35.0,0,0,8.0500,S,Third,man,True,0
2,male,NaN,0,0,8.4583,Q,Third,man,True,0
3,male,54.0,0,0,51.8625,S,First,man,True,0
4,male,2.0,3,1,21.0750,S,Third,child,False,0
...,...,...,...,...,...,...,...,...,...,...
572,male,28.0,0,0,10.5000,S,Second,man,True,0
573,male,25.0,0,0,7.0500,S,Third,man,True,0
574,male,27.0,0,0,13.0000,S,Second,man,True,0
575,male,26.0,0,0,30.0000,C,First,man,True,1
576,male,32.0,0,0,7.7500,Q,Third,man,True,0

In [ ]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       577 non-null    object
 1   age       453 non-null    float64
 2   sibsp     577 non-null    int64
 3   parch     577 non-null    int64
 4   fare      577 non-null    float64
 5   embarked  577 non-null    object
 6   class     577 non-null    object
 7   who       577 non-null    object
 8   alone     577 non-null    bool
 9   survived  577 non-null    int64
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 41.3+ KB

In [ ]:
rslt_df['age'] = rslt_df['age'].astype(str).str[-4:]

<ipython-input-93-6c1345762c29>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rslt_df['age'] = rslt_df['age'].astype(str).str[-4:]

In [ ]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       577 non-null    object
 1   age       577 non-null    object
 2   sibsp     577 non-null    int64
 3   parch     577 non-null    int64
 4   fare      577 non-null    float64
 5   embarked  577 non-null    object
 6   class     577 non-null    object
 7   who       577 non-null    object
 8   alone     577 non-null    bool
 9   survived  577 non-null    int64
dtypes: bool(1), float64(1), int64(3), object(5)
memory usage: 41.3+ KB

In [ ]:
rslt_df

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,male,22.0,1,0,7.2500,S,Third,man,False,0
1,male,35.0,0,0,8.0500,S,Third,man,True,0
2,male,nan,0,0,8.4583,Q,Third,man,True,0
3,male,54.0,0,0,51.8625,S,First,man,True,0
4,male,2.0,3,1,21.0750,S,Third,child,False,0
...,...,...,...,...,...,...,...,...,...,...
572,male,28.0,0,0,10.5000,S,Second,man,True,0
573,male,25.0,0,0,7.0500,S,Third,man,True,0
574,male,27.0,0,0,13.0000,S,Second,man,True,0
575,male,26.0,0,0,30.0000,C,First,man,True,1
576,male,32.0,0,0,7.7500,Q,Third,man,True,0

In [112]:
rslt_df['fare'] = rslt_df['fare'].astype('float64')

<ipython-input-112-fb84aa02c182>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rslt_df['fare'] = rslt_df['fare'].astype('float64')

In [116]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sex        577 non-null    object
 1   age        453 non-null    float64
 2   sibsp      577 non-null    int64
 3   parch      577 non-null    int64
 4   fare       577 non-null    float64
 5   embarked   577 non-null    object
 6   class      577 non-null    object
 7   who        577 non-null    object
 8   alone      577 non-null    bool
 9   survived   577 non-null    int64
 10  embarked   577 non-null    float64
dtypes: bool(1), float64(3), int64(3), object(4)
memory usage: 45.8+ KB

In [117]:
dd=rslt_df

In [121]:
dd['age'] = dd['age'].astype(str)
dd['age'] = [x.replace(',', '.') for x in dd['age']]

<ipython-input-121-0cbc5d19fb12>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['age'] = dd['age'].astype(str)
<ipython-input-121-0cbc5d19fb12>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['age'] = [x.replace(',', '.') for x in dd['age']]

In [122]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sex        577 non-null    object
 1   age        577 non-null    object
 2   sibsp      577 non-null    int64
 3   parch      577 non-null    int64
 4   fare       577 non-null    float64
 5   embarked   577 non-null    object
 6   class      577 non-null    object
 7   who        577 non-null    object
 8   alone      577 non-null    bool
 9   survived   577 non-null    int64
 10  embarked   577 non-null    float64
dtypes: bool(1), float64(2), int64(3), object(5)
memory usage: 45.8+ KB

In [124]:
dd['fare'] = dd['fare'].astype('float64')

<ipython-input-124-da7ae97bac20>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['fare'] = dd['fare'].astype('float64')

In [ ]:
dd.to_excel("Titanic.xlsx", sheet_name='Titanic')
from google.colab import files
files.download('Titanic.xlsx')